<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Quản lý Tác giả</h4>
    </div>
    <div class="col-md-7 align-self-center text-end">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">authors</li>
            </ol>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover no-wrap">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th>TÊN</th>
                <th>EMAIL</th>
                <th>NGÀY</th>
                <th>ẢNH ĐẠI DIỆN</th>
                <th>NGÀY TẠO</th>
                <th>NGÀY SỬA</th>
            </tr>
        </thead>
        <tbody id="listauthor">
            <!-- <tr>
                <td class="text-center">1</td>
                <td class="txt-oflo">Elite admin</td>
                <td><span class="badge bg-success rounded-pill">sale</span> </td>
                <td class="txt-oflo"><span><img class="avatar" src="./upload/default2.png" alt=""></span></td>
                <td><span class="text-success">$24</span></td>
                <td><span class="text-success">$24</span></td>
                <td><a href="javascript:void(0)" class="text-inverse p-r-10" data-bs-toggle="tooltip" title="" data-original-title="Edit"><i class="ti-marker-alt"></i></a> <a class="text-inverse" title="" data-bs-toggle="tooltip" data-original-title="Delete"><i class="ti-trash"></i></a></td> 
            </tr> -->
        </tbody>
    </table>
</div>