<div class="container">
    <div class="row">
        <hr style="width: 50%; margin-left: 25%;">
        <div class=" slogan-banner">
            <h3 style="text-align: center;"><b>Tin tức</b></h3>
            <div>
                <hr
                    style="width: 5%; position: relative; top: 19px; margin-left: 42.5%; border: 2px solid #000; border-radius: 2px; ">
                <i class="fa fa-newspaper-o" style="margin-top: 20px;margin-left: 90px;" aria-hidden="true"></i>
                <hr
                    style="width: 5%; position: relative; bottom: 76px;  left: 680px; border: 2px solid #000; border-radius: 2px;">
            </div>
        </div>
        <h3 style="font-family: 'Lexend', sans-serif;"><b>Nganh cong nghe thong tin </b></h3>
        <div class="col-lg-10 my-2 mx-3">
            <div class="row">
                <div class="col-lg-6">
                    <img src="./images/z4866341734575_f118ae834f4201667aa0de4449169b37.jpg" alt="computer-lab"
                        class="card-img rounded" style="width: 350px; max-height: 200px; margin-bottom: 10px;">
                </div>
                <div class="col-lg-6">
                    <div>
                        <b>Chào mừng ngày nhà giáo Việt Nam 20/11/2023</b>
                        <p>Nhân kỷ niệm ngày Nhà giáo, Youth Coop xin gửi đến quý thầy cô lời chúc tốt đẹp nhất, với
                            muôn vàn điều tri ân, niềm hạnh phúc, chúc quý thầy/cô luôn cháy lên một ngọn lửa nhiệt
                            thành và vững tay chèo để từng ngày đưa các thế hệ học trò đến bến bờ thành công. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <img src="./images/DSC07287.jfif" alt="computer-lab" class="card-img rounded"
                        style="width: 350px; max-height: 200px; margin-bottom: 10px;">
                </div>
                <div class="col-lg-6">
                    <div class="card-text text-left mt-2">
                        <b>Lễ ký kết thỏa thuận hợp tác giữa Trường Đại học Xây dựng Hà Nội và Trường Đại học Thủy
                            lợi</b>
                        <p>(TLU) – Ngày 11/12/2023, Trường Đại học Thủy lợi đã tổ chức Lễ ký biên bản ghi nhớ với Trường
                            ĐH Hokkaido
                            Bunkyo, đánh dấu hợp tác sâu rộng với các đối tác Nhật Bản trong nghiên cứu khoa học và
                            chuyển giao công
                            nghệ</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <img src="./images/le.png" alt="computer-lab" class="card-img rounded"
                        style="width: 350px; max-height: 200px; margin-bottom: 10px;">
                </div>
                <div class="col-lg-6">
                    <div class="card-text text-left mt-2">
                        <b>Thông báo về việc đăng ký học trước một số học phần thuộc chương trình Thạc sĩ năm 2023</b>
                        <p>Hội đồng tuyển sinh Phân hiệu Trường Đại học Thủy lợi (Mã trường TLS) công bố điểm chuẩn và
                            danh sách trúng
                            tuyển theo phương thức xét tuyển học bạ THPT đợt 2 năm 2023 cho 06 ngành đào tạo trình độ
                            Đại học chính
                            quy.</p>
                    </div>
                </div>
            </div>
        </div>
        <hr style="width: 50%; margin-left: 25%;">
        <div class="slogan-banner">
            <h3 style="text-align: center;"><b>Đào tạo </b></h3>
            <div>
                <i class="fa fa-sitemap" style="margin-top: 30px;margin-left: 90px;" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-lg-12 my-2 mx-3">
            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <b>Chào mừng ngày nhà giáo Việt Nam 20/11/2023</b>
                        <p>Nhân kỷ niệm ngày Nhà giáo, Youth Coop xin gửi đến quý thầy cô lời chúc tốt đẹp nhất, với
                            muôn vàn điều tri ân, niềm hạnh phúc, chúc quý thầy/cô luôn cháy lên một ngọn lửa nhiệt
                            thành và vững tay chèo để từng ngày đưa các thế hệ học trò đến bến bờ thành công. </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="./images/Khoa CNTT 20-11-273.jfif" alt="computer-lab"
                        class="card-img rounded" style="width: 350px; max-height: 200px; margin-bottom: 10px;">
                </div>
            </div>
            <div class="row">
                
                <div class="col-lg-6">
                    <div class="card-text text-left mt-2">
                        <b>Lễ ký kết thỏa thuận hợp tác giữa Trường Đại học Xây dựng Hà Nội và Trường Đại học Thủy
                            lợi</b>
                        <p>(TLU) – Ngày 11/12/2023, Trường Đại học Thủy lợi đã tổ chức Lễ ký biên bản ghi nhớ với Trường
                            ĐH Hokkaido
                            Bunkyo, đánh dấu hợp tác sâu rộng với các đối tác Nhật Bản trong nghiên cứu khoa học và
                            chuyển giao công
                            nghệ</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="./images/DSC07287.jfif" alt="computer-lab" class="card-img rounded"
                        style="width: 350px; max-height: 200px; margin-bottom: 10px;">
                </div>
            </div>
            <div class="row">
                
                <div class="col-lg-6">
                    <div class="card-text text-left mt-2">
                        <b>Thông báo về việc đăng ký học trước một số học phần thuộc chương trình Thạc sĩ năm 2023</b>
                        <p>Hội đồng tuyển sinh Phân hiệu Trường Đại học Thủy lợi (Mã trường TLS) công bố điểm chuẩn và
                            danh sách trúng
                            tuyển theo phương thức xét tuyển học bạ THPT đợt 2 năm 2023 cho 06 ngành đào tạo trình độ
                            Đại học chính
                            quy.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="./images/c696814b7f1cd7428e0d.jpg" alt="computer-lab" class="card-img rounded"
                        style="width: 350px; max-height: 200px; margin-bottom: 10px;">
                </div>
            </div>
        </div>
    </div>