<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <base href="http://localhost:3000/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>Elite Admin Template - The Ultimate Multipurpose admin template</title>
    
    <!-- page css -->
    <link href="dist/css/pages/login-register-lock.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="dist/css/style.min.css" rel="stylesheet">
    
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
    .form-reset{
        display: flex;
        justify-content: center;

    }

    input{
        border: none;
    }
</style>
</head>

<body>
    <div class="form-reset">
        <input type="password" id="txt_password" placeholder="Nhập mật khẩu mới">
        <button id="resetPasword" type="submit">Đổi mật khẩu</button>
    </div>
    
    <!-- jQuery và các script khác -->
    <script src="assets/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./lib.js"></script>
    
    <!-- Script cuối cùng để xử lý sự kiện click -->
    <script src="./adminitrator/index.js"></script>

</body>

</html>